@font-face {
  font-family: 'Roboto';
  src: url('./font/Roboto-Regular.ttf') format('truetype'),
    url('./font/Roboto-Italic.ttf') format('truetype'),
    url('./font/Roboto-Bold.ttf') format('truetype'),
    url('./font/Roboto-BoldItalic.ttf') format('truetype');
}

html{
  height: 100%;
}

body{
  font-family: 'Roboto';
  background-color: rgb(49,49,49);
  color: #FFFEFD;

}

h2{
  font-style: oblique;
}

